footer{
    background-color:dimgrey;
    font-family: 'Permanent Marker', cursive;
font-family: 'VT323', monospace;
font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.ir-arriba {
    display:none;
    padding:30px;
    background-repeat: no-repeat;
    font-size:20px;
    color:black;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 2;
}