<div class="container">
 <br/>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="">
      <img src="assets/img/1.png" width="50" height="40" class="d-inline-block align-top" alt="">
      TITULO
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item">
          <a routerLink="/home"><button type="button" class="btn btn-success">HOME</button></a>
      </li>
      <li class="nav-item">
          <a routerLink="/gestion"><button type="button" class="btn btn-danger">GESTION"</button></a>
      </li>
      <li class="nav-item">
          <a routerLink="/contactos"><button type="button" class="btn btn-dark">CONTACTOS</button></a>
      </li>
    </ul>
  </nav>
  <br/>
  <router-outlet></router-outlet>
  
</div>
