<!DOCTYPE html>
<html>   
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|VT323|ZCOOL+QingKe+HuangYou" rel="stylesheet"> 
  <body>    
    <div class="container">
       <header>
      <br/>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" routerLink="/home">
            <img src="../assets/img/logo.png" width="30" height="30" class="d-inline-block align-top ">
            COLEGIO 
          </a>
      <li class="nav-item">
        <a routerLink="/home"><button type="button" class="btn btn-dark" aria-label="Search"><img src="/assets/img/home.png"> INICIO</button></a>
      </li>
      <li class="nav-item">
        <a routerLink="/gestion"><button type="button" class="btn btn-dark" aria-label="Search"><img src="/assets/img/gestion.png"> GESTION</button></a>
      </li>
      <li class="nav-item">
        <a routerLink="/contactos"><button type="button" class="btn btn-dark"aria-label="Search"><img src="/assets/img/contacto.png"> CONTACTOS</button></a>
        
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <br/>
    <router-outlet></router-outlet>
    <div class="mt-2">
        <ul class="list-group">
          <li
            *ngFor = "let nombre of nombreArray"
            class="list-group-item list-group-item-action"
            (click)="openEdit(nombre)"
            [class.active]="nombre === selectedNombre">
            <span class="badge badge-primary">{{nombre.id}}</span> {{nombre.name}} - {{nombre.comment}}
            </li>
          </ul>
            <div class="card mt-2">
            <div class="card-body">
              <div class="card-title">
                Inserta Nombre 
          
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="selectedNombre.name" placeholder="Inserte Nombre" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" [(ngModel)]="selectedNombre.comment" placeholder="Inserte Comentario" type="text">
                </div>
                <button class="btn-primary" (click)="addOrEdit()">
                  Submit
                </button>
                <button 
                *ngIf="selectedNombre.id !==0" class="btm btn-danger"
                 (click)="delete()" >
                 DELETE
                </button>
            </div>
            </div>
    </div>
  </header>

  <footer> 
    <hr>
    <h5 align="center" class="ml-2"> &copy;Todos los derechos reservados - Contactos: <a href="mailto:mickyfads5@gmail.com">Click</a></h5>
  </footer>
  </div>
  </body>
 </html>
