
<div class="container">
    <div class="main row">
  <article class="col-md-12">
    <form class="form-inline mt-4">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
      
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
        </div>
      
        <div class="form-check mb-2 mr-sm-2">
          <input class="form-check-input" type="checkbox" id="inlineFormCheck">
          <label class="form-check-label" for="inlineFormCheck">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    <form class="was-validated">
        <div class="mb-3">
          <label for="validationTextarea">Textarea</label>
          <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
          <div class="invalid-feedback">
            Please enter a message in the textarea.
          </div>
        </div>
        
        </form>
        <h3>Ubicanos</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d804.3154603588952!2d-68.12083339831302!3d-16.47600996369559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sbo!4v1552349990324" width="1000" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

      </article>
      </div>
</div>