aside{
    background-color: blanchedalmond;
}
article{
    background-color: tomato;
}
.col-3{
    background-color: blanchedalmond;
}
h3{
    font-family: 'Permanent Marker', cursive;
}
p{
    font-family: 'Permanent Marker', cursive;
font-family: 'VT323', monospace;
font-family: 'ZCOOL QingKe HuangYou', cursive;
}
footer{
    background-color: black;
    
}