<div class="container">
  <div class="main row">
  <article class="col-md-9"> 
    <p class="mt-2" ALIGN="justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis necessitatibus eum excepturi tempore expedita repellendus nobis fuga atque. Fugiat voluptatum rem ipsum veritatis esse. Fugiat autem laborum sunt expedita cumque.
    </p>
  </article>
  <aside class="col-md-3">
    <p class="mt-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis enim saepe in officia quos recusandae quaerat deserunt pariatur a ad dolorem quo aut sed, ipsum veniam dolores necessitatibus. Magni, est.
    </p>
  </aside>
  
</div>
  <div class="row">
    <div class="col-3">
      <h3 class="mt-2" align="center">ACTIVIDADES</h3>
      <hr>
      <img src="assets/img/col6.jpg" width="250" height="200">
        <p  ALIGN="justify">
          ¡El viaje de fin de año tiene que ser espectacular!, debe reunir todos los ingredientes necesarios para ser recordado por el resto de la vida, como una experiencia enriquecedora y llena de momentos únicos, divertidos e inolvidables. Planifica junto a nosotros y obtén los mejores servicios al mejor precio, para que todos los estudiantes o participantes puedan formar parte de estas maravillosas experiencias. Por esta razón Solcaribe ha diseñado algunos paquetes especiales para paseos de fin de año. Disfrútalos y vive una experiencia fabulosa solo por Solcaribe tu mejor asesor de viajes.
        </p>
    </div>
    <div class="col-3">
        <h3 class="mt-2" align="center">TECNOLOGIA</h3>
        <hr>
        <img src="assets/img/col4.jpg" width="250" height="200">
        <p class="mt-2" ALIGN="justify">
            Que la transformación digital está cambiando nuestra vida y nuestra sociedad en todos los aspectos no es ningún secreto. El ámbito tecnológico y el mundo laboral no son los últimos que estan experimentando estos cambios, la educación también es un sector que se está beneficiando de ellos.
            Sin embargo no podremos considerarlo un cambio efectivo si no utilizamos estas herramientas a nuestro alcance para dar respuesta a las necesidades que presenta nuestra sociedad desde hace tiempo.
         </p>
    </div>
    <div class="col-3">
        <h3 class="mt-2" align="center">DEPORTE</h3>
        <hr>
        <img src="assets/img/col2.jpg" width="250" height="200">
        <p class="mt-2" ALIGN="justify">
            Es el programa para la transformación de centros educativos de Deporte para la Educación y la Salud. Se dirige a las instituciones educativas de que quieran liderar un deporte educativo y para la salud dentro del sector. Un programa que otorga un reconocimiento avalado internacionalmente como Colegio Comprometido con el Deporte y la Salud (Committed to Sport & Health School).

            Se imparte formación técnica (8 talleres de 5 horas cada uno durante todo el curso) para totalizar 40 horas presenciales, además de trabajos prácticos en el centro que conllevan 40 horas adicionales, aproximadamente. En 2018-2019 las sesiones obligatorias se complementan con otras voluntarias como son el Congreso Internacional School to Move
        </p>
    </div>
    <div class="col-3">
        <h3 class="mt-2" align="center">CULTURA</h3>
        <hr>
        <img src="assets/img/col2.jpg" width="250" height="200">
        <p class="mt-2" ALIGN="justify">
            Home / Vida escolar / Propuesta artística / Danza folclórica

            La danza tiene mucha importancia para la educación: apresta a la persona para un posterior desempeño dentro de la sociedad, pues potencia sentimientos de solidaridad, consecuencia de la actividad en equipo, inhibiendo asomos de egoísmo por la consecución de un objetivo común.
            
            Contiene coreografías que muestran las vivencias o costumbres de nuestras diversas comunidades, amén de exponer su geografía e historia.
        </p>
    </div>

   </div>
  
</div>
