article{
    background-color: white;
}
p{
    font-family: 'Permanent Marker', cursive;
    font-family: 'VT323', monospace;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
iframe{
        margin:10px auto;
        display:block;
}
.col-3 {
    background-color: wheat;
}