<div>
  <article class="col-md-12">
    <h3>PEDAGOGIA</h3>
    <p>El Modelo Educativo del Colegio San Agustín para los siguientes 4 años según, el Programa Educativo Institucional 2016-2020, es un Modelo de Triada ya que convergen 3 corrientes:</p>
        <p>1. La Pedagogía agustiniana, que refleja la tradición, la mística y los valores agustinos fruto de su amplia y rica historia, desde su fundación por los Padres agustinos hasta la actualidad (Marco Histórico).</p>
        <p>2. El franco respecto a los principios y orientaciones legales de la Educación. (Marco Legal).</p>
        <p>3. El Modelo por Competencias bajo el enfoque socio-formativo, siendo el modelo educativo de mayor vigencia, alcance y pertinencia para las instituciones educativas del Siglo XXI, el cual nos sirve como un puente metodológico para actualizar las acciones educativas integrales.</p>
        <br>
       
        <iframe src="http://docs.google.com/gview?url=http://victorpimentel.com/stuff/rubik.pdf&embedded=true" style="width:700px; height:700px;" frameborder="0"></iframe> 
      </article>
      
      <div class="row">
          <div class="col-12">
              <h3 class="mt-2" align="center">PLANTEL DOCENTE</h3>
              <hr>
              <img class="centrado"  src="assets/img/img1.jpg" width="700" height="350">
              <iframe src="https://www.upct.es/gpostref/Curso%2008/alumnos08.pdf" style="width:700px; height:700px;" frameborder="0"></iframe>
          </div>
      </div>

</div>